/.vs
/.svn
/Library
/Temp
/*.userprefs
/obj
/Builds
/Assets/_local
/Assets/_local.meta

Thumbs.db
Thumbs.db.meta
*_BACKUP_*
*_REMOTE_*
*_LOCAL_*
*_BASE_*

===
Let MonoDevelop and Visual Studio handle their own stuff.
===
/*.csproj
/*.sln
/.vs
*.orig*
*.log*
/WorkFiles

===
Restricted Third-Party Assets
/Assets/Asset Usage Finder
/Assets/Asset Usage Finder.meta
/Assets/Filter2D
/Assets/Filter2D.meta
/Assets/Photon Unity Networking
/Assets/Photon Unity Networking.meta
/Assets/PhotonChatApi
/Assets/PhotonChatApi.meta
/Assets/Plugins
/Assets/Plugins.meta
/Assets/uIntelliSense
/Assets/uIntelliSense.meta